
body {
  margin: 0;
}

.App {
  text-align: center;
  position: relative;
  height: 100vh;
}

.navigation {
  width: 100%;
  height: 50px;
  background-color: black ;
  display: flex;
  justify-content: space-between;
}
